<section style="background-color: #D0D0D0;">
  <section class="container">
    <tr><br/></tr>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filtros
            </mat-panel-title>
            <mat-panel-description>
              Filtros para os eventos
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" class="filter">
            <mat-label>Categorias</mat-label>
            <select matNativeControl [(ngModel)]="categorieFilter">
              <option value="None"> -- Selecione --</option>
              <option *ngFor="let categorie of categorieList" value="{{categorie.name}}">{{categorie.name}}</option>
            </select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="filter">
            <mat-label>Produtor</mat-label>
            <select matNativeControl [(ngModel)]="productionFilter">
              <option value="None"> -- Selecione --</option>
              <option *ngFor="let produtor of produtorList" value="{{produtor.name}}">{{produtor.name}}</option>
            </select>
          </mat-form-field>
          <br/>
          <button mat-button style="left: 45%;" onclick="applyFilter()">Filtrar</button>
        </mat-expansion-panel>
    </mat-accordion>

    <div *ngFor="let event of eventList">
        <tr><br/></tr>
        <div class="row">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <img mat-card-xl-image src="{{event.image}}" >
                    <mat-card-title routerLink="/event">{{event.name}}</mat-card-title>
                    <mat-card-subtitle>{{event.production}}</mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content>
                    {{event.description}}
                </mat-card-content>
                <mat-card-footer>
                    <mat-chip-list style="margin-left: 5%;">
                        <mat-chip *ngFor="let categorie of event.categories" class="tag-chip">{{categorie}}</mat-chip>
                    </mat-chip-list>
                </mat-card-footer>
            </mat-card>
        </div>
        <tr><br/></tr>
    </div>
  </section>
</section>
