<h1 mat-dialog-title>Seus Eventos Favoritos</h1>
<div mat-dialog-content>
    <div *ngFor="let event of userFavoriteEvents">
        <mat-accordion>
            <mat-expansion-panel  class="event">
                <mat-expansion-panel-header>
                    <mat-panel-title><mat-icon>celebration</mat-icon>&nbsp;&nbsp;{{event.name}}</mat-panel-title>
                    <mat-panel-description>{{event.production}}</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card class="eventCard">
                    <mat-card-title-group>
                        <mat-card-subtitle>{{event.description}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
        <br/><br/>
    </div>   
</div>
<div class="button" mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Fechar</button>
</div>