div mat-form-field {
    width: 100%;
    display: block;
}

h1{
    text-align: center;
}

.button {
    align-items: center;
    justify-content: center;
}

.event {
    background-color: rgb(210, 210, 210)
}

.eventCard {
    height: 10vh;
}