<section style="background-color: #D0D0D0;">
    <tr><br/></tr>
    <mat-accordion class="tab-filtro" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filtros
            </mat-panel-title>
            <mat-panel-description>
              Filtre a pesquisa
              <mat-icon>filter_list</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>Nome do Evento</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Escolha a Data</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nome do Produtor</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>
    <tr><br/></tr>
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header style="align-items: center;">
                <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                <mat-card-title>
                    Evento 
                    <input style="text-align: end; width: 90px; background-color: transparent; margin-left: 530px;" value="$ Valor" readonly/>
                </mat-card-title>
                <mat-card-subtitle>Usuário</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-header style="display: inline;">
                        <mat-chip-list>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            <button mat-mini-fab style="margin-left: 420px; bottom: 6px; background-color: #4169E1">
                                <mat-icon>chat</mat-icon>
                            </button>
                        </mat-chip-list>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
    <tr><br/></tr>
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header style="align-items: center;">
                <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                <mat-card-title>
                    Evento
                    <input style="text-align: end; width: 90px; background-color: transparent; margin-left: 530px;" value="$ Valor" readonly/>
                </mat-card-title>
                <mat-card-subtitle>Usuário</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-header style="display: inline;">
                        <mat-chip-list>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            <button mat-mini-fab style="margin-left: 420px; bottom: 6px; background-color: #4169E1">
                                <mat-icon>chat</mat-icon>
                            </button>
                        </mat-chip-list>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
    <tr><br/></tr>
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header style="align-items: center;">
                <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                <mat-card-title >
                    Evento
                    <input style="text-align: end; width: 90px; background-color: transparent; margin-left: 530px;" value="$ Valor" readonly/>
                </mat-card-title>
                <mat-card-subtitle>Usuário</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-header style="display: inline;">
                        <mat-chip-list>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            <button mat-mini-fab style="margin-left: 420px; bottom: 6px; background-color: #4169E1">
                                <mat-icon>chat</mat-icon>
                            </button>
                        </mat-chip-list>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
    <tr><br/></tr>
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header style="align-items: center;">
                <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                <mat-card-title >
                    Evento
                    <input style="text-align: end; width: 90px; background-color: transparent; margin-left: 530px;" value="$ Valor" readonly/>
                </mat-card-title>
                <mat-card-subtitle>Usuário</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-header style="display: inline;">
                        <mat-chip-list>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            <button mat-mini-fab style="margin-left: 420px; bottom: 6px; background-color: #4169E1">
                                <mat-icon>chat</mat-icon>
                            </button>
                        </mat-chip-list>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
    <tr><br/></tr>
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header style="align-items: center;">
                <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                <mat-card-title >
                    Evento
                    <input style="text-align: end; width: 90px; background-color: transparent; margin-left: 530px;" value="$ Valor" readonly/>
                </mat-card-title>
                <mat-card-subtitle>Usuário</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-header style="display: inline;">
                        <mat-chip-list>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                            <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            <button mat-mini-fab style="margin-left: 420px; bottom: 6px; background-color: #4169E1">
                                <mat-icon>chat</mat-icon>
                            </button>
                        </mat-chip-list>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
    <tr><br/></tr>
</section>