.column {
    float:left;
    width: 25%;
    background-color: transparent;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    max-width: 100%;
}

.row-search {
    right: 40%;
}

.example-card {
    width: 75%;
    background-color: #99999986;
    left: 10%;
}

.internal-card {
    width: 100%;
    height: 15%;
    background-color: #FDFFFF;
}

.internal-card-profile {
    width: 35%;
    height: 30%;
    background-color: rgb(180, 180, 180);
}

.card_header_avatar {
    background-size: cover;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 6%;
}

.example-margin {
    margin: 0 10px;
    float: center;
}

.card-chips {
    width: 100px; 
    height: 10px;
    background-color: transparent;
}

.tab-filtro .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.tab-filtro .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.mat-form-field {
    margin-right: 4px;
}

.value-tag {
    text-align: end; 
    width: 90px; 
    background-color: transparent;
    margin-left: 77%;
}