.column {
    float:left;
    width: 25%;
    background-color: transparent;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    max-width: 1000px;
}

.row-search {
    right: 400px;
}

.example-card {
    max-width: 800px;
    left: 600px;
    background-color: #99999986;
}

.internal-card {
    width: 700px;
    height: 50px;
    background-color: #FDFFFF;
    left: 40px;
}

.internal-card-profile {
    width: 350px;
    height: 300px;
    background-color: rgb(180, 180, 180);
}

.card_header_avatar {
    background-size: cover;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
    float: center;
}

.card-chips {
    width: 100px; 
    height: 10px;
    background-color: transparent;
}

.tab-filtro .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.tab-filtro .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.mat-form-field {
    margin-right: 4px;
}

.mat-card-header .mat-card-title .input {
    margin-left: 2000px;  
}