<section style="background-color: #FFF;">
    <section class="container">
        <tr><br/></tr>
        <mat-accordion class="tab-filtro" multi>
            <mat-expansion-panel class="filter-accordion">
            <mat-expansion-panel-header class="filter-accordion">
                <mat-panel-title>
                Filtros
                </mat-panel-title>
                <mat-panel-description>
                Filtre a pesquisa
                <mat-icon>filter_list</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <tr><br/></tr>
            <mat-form-field appearance="fill">
                <mat-label>Nome do Evento</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Escolha a Data</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nome do Produtor</mat-label>
                <input matInput>
            </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <tr><br/></tr>
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header style="align-items: center;">
                    <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                    <mat-card-title>
                        Evento 
                    </mat-card-title>
                    <input class="value-tag" value="$ Valor" readonly/>
                    <mat-card-subtitle>Usuário</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-card class="internal-card">
                        <mat-card-content>
                            <button mat-mini-fab class="chat-button">
                                <mat-icon>chat</mat-icon>
                            </button>
                            <mat-chip-list>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            </mat-chip-list>    
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
        <tr><br/></tr>
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header style="align-items: center;">
                    <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                    <mat-card-title>
                        Evento
                    </mat-card-title>
                    <input class="value-tag" value="$ Valor" readonly/>
                    <mat-card-subtitle>Usuário</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-card class="internal-card">
                        <mat-card-content>
                            <button mat-mini-fab class="chat-button">
                                <mat-icon>chat</mat-icon>
                            </button>
                            <mat-chip-list>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            </mat-chip-list>    
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
        <tr><br/></tr>
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header style="align-items: center;">
                    <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                    <mat-card-title >
                        Evento
                    </mat-card-title>
                    <input class="value-tag" value="$ Valor" readonly/>
                    <mat-card-subtitle>Usuário</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-card class="internal-card">
                        <mat-card-content>
                            <button mat-mini-fab class="chat-button">
                                <mat-icon>chat</mat-icon>
                            </button>
                            <mat-chip-list>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            </mat-chip-list>    
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
                <mat-card-footer style="display: inline;">
                    
                    
                </mat-card-footer>
            </mat-card>
        </div>
        <tr><br/></tr>
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header style="align-items: center;">
                    <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                    <mat-card-title >
                        Evento
                    </mat-card-title>
                    <input class="value-tag" value="$ Valor" readonly/>
                    <mat-card-subtitle>Usuário</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-card class="internal-card">
                        <mat-card-content>
                            <button mat-mini-fab class="chat-button">
                                <mat-icon>chat</mat-icon>
                            </button>
                            <mat-chip-list>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            </mat-chip-list>    
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
        <tr><br/></tr>
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header style="align-items: center;">
                    <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                    <mat-card-title >
                        Evento
                    </mat-card-title>
                    <input class="value-tag" value="$ Valor" readonly/>
                    <mat-card-subtitle>Usuário</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-card class="internal-card">
                        <mat-card-content>
                            <button mat-mini-fab class="chat-button">
                                <mat-icon>chat</mat-icon>
                            </button>
                            <mat-chip-list>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 1</mat-chip>
                                <mat-chip class="card-chips" style="bottom: 6px;">Categoria 2</mat-chip>
                            </mat-chip-list>    
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
        <tr><br/></tr>
        <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </section>
</section>