.column {
    float:left;
    width: 25%;
    background-color: transparent;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    max-width: 100%;
}

.row-search {
    right: 40%;
}

.example-card {
    width: 85%;
    background-color: #4169e14d;
    left: 8%;
}

.internal-card {
    width: 100%;
    height: 15%;
    background-color: #FDFFFF;
}

.internal-card-profile {
    width: 35%;
    height: 30%;
    background-color: rgb(180, 180, 180);
}

.card_header_avatar {
    background-size: cover;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 6%;
}

.example-margin {
    margin: 0 10px;
    float: center;
}

.card-chips {
    width: 100px; 
    height: 10px;
    background-color: transparent;
}

.tab-filtro .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.tab-filtro .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.mat-form-field {
    margin-right: 4px;
}

.value-tag {
    text-align: end; 
    width: 15%; 
    background-color: transparent;
    margin-left: 67%;
}

.chat-button {
    background-color: #4169E1; 
    margin-left: 93%;
}

.filter-button {
    margin-left: 2%; 
    background-color: slateblue; 
    color: #FFF;
}

.filter-accordion {
    background-color: #4169e14d;
}