<section style="background-color: #FFF;">
    <section class="container">
        <tr><br/></tr>
        <mat-accordion class="tab-filtro" multi>
            <mat-expansion-panel class="filter-accordion">
            <mat-expansion-panel-header class="filter-accordion">
                <mat-panel-title>
                Filtros
                </mat-panel-title>
                <mat-panel-description>
                Filtre a pesquisa
                </mat-panel-description>
            </mat-expansion-panel-header>
            <tr><br/></tr>
            <mat-form-field appearance="fill" class="filter">
                <mat-label>Categorias</mat-label>
                <mat-select matNativeControl [(ngModel)]="categorieFilter">
                  <mat-option value="None">-- Selecione --</mat-option>
                  <mat-option *ngFor="let categorie of categorieList" [value]="categorie.name">{{categorie.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="filter"> 
                <mat-label>Produtor</mat-label>
                <mat-select matNativeControl [(ngModel)]="productionFilter">
                    <mat-option value="None">-- Selecione --</mat-option>
                    <mat-option *ngFor="let produtor of produtorList" [value]="produtor.name">{{produtor.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <button mat-button class="filter-button" (click)="applyFilter()">Filtrar</button>
            <button mat-button class="filter-button" (click)="listTickets()">Limpar Filtros</button>
            </mat-expansion-panel>
        </mat-accordion>
        <br/><br/>
        <div *ngFor="let ticket of ticketList">
            <tr><br/></tr>
            <div class="row">
                <mat-card class="example-card">
                    <mat-card-header style="align-items: center;">
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>person</mat-icon></div>
                        <mat-card-title>{{ticket.eventName}}</mat-card-title>
                        <mat-card-subtitle>{{ticket.userName}}</mat-card-subtitle>
                        <button mat-mini-fab style="margin-left: 44vw; background-color: white;" routerLink="/marketplaceShop/{{ticket.id}}">
                            <mat-icon style="color: black;">shopping_cart</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card class="internal-card">
                            <mat-card-content>
                                <mat-card-header>
                                    <mat-card-subtitle>{{ticket.ticketName}} ({{ticket.ticketType}})</mat-card-subtitle>
                                </mat-card-header>
                                <mat-form-field appearance="fill" style="margin-left: 45vw;">
                                    <mat-label>Valor (R$)</mat-label>
                                    <input matInput style="text-align: end;" value= {{ticket.value}} readonly/>
                                </mat-form-field>
                            </mat-card-content>
                        </mat-card>
                    </mat-card-content>
                </mat-card>
            </div>
            <tr><br/></tr>
        </div>
    </section>
</section>