div mat-form-field {
    width: 100%;
    display: block;
}

h1{
    text-align: center;
}

.button {
    align-items: center;
    justify-content: center;
}

.selectBox {
    text-align: center;
}

.ticketValue {
    float: right;
}

.ticketCard {
    height: fit-content;
}

.ticket {
    background-color: rgb(210, 210, 210);
}