<section style="background-color: #D0D0D0;">
    <section class="container">
        <br/><br/><br/> 
    <div>
        <mat-card style="background-color: #FFF; border-color: #4169e14d;">
            <mat-card-title title="review">
                <mat-icon>celebration</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.name}}
                <ngb-rating [max]="5" [(rate)]="event.rating" [readonly]="true" style="float: right"></ngb-rating>
            </mat-card-title>
        </mat-card>
    </div>
    <br/>
    <div class="row">
        <div class="column">
            <mat-card class="example-card">
                <mat-card-header> </mat-card-header>
                <img mat-card-image src="{{event.image}}" alt="Foto da Festa 1">
            </mat-card>
        </div>
        <div class="column">
            <mat-card class="example-card">
                <mat-card-header> </mat-card-header>
                <img mat-card-image src="https://magaluteste.blob.core.windows.net/container-myparty/Mapa_de_Mentira.png" alt="Foto da Festa 1">
                <mat-card-footer>
                    Localização: (Rua Número ...)
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <br/>
    <section id="cardDesc">
        <mat-card style="background-color: #4169e14d">
            <mat-card-title title="Descrição">Descrição</mat-card-title>
            <mat-card-content>
                {{event.description}}
                <br/>
                <br/>
                <br/>
                <br/>
            </mat-card-content>
            <mat-chip-list style="margin-left: 5%;">
                <mat-chip *ngFor="let categorie of event.categories" class="tag-chip">{{categorie}}</mat-chip>
            </mat-chip-list>
        </mat-card>
        <br/>
        <mat-card style="background-color: #4169e14d">
            <mat-card-title title="Descrição">O que tem no Evento:</mat-card-title>
            <mat-card-content>
                {{event.features.split('\n')[0]}}
                <br/>
                {{event.features.split('\n')[1]}}
                <br/>
                {{event.features.split('\n')[2]}}
                <br/>
                {{event.features.split('\n')[3]}}
                <br/>
            </mat-card-content>
        </mat-card>
        <br/><br/>
    </section>
    <section id="compraCards">
        <div class="row">
            <div class="column">
                <mat-card style="background-color: #4169e14d">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>store</mat-icon></div>
                        <mat-card-title>Marketplace</mat-card-title>
                        <mat-card-subtitle>Compre de Usuários!</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card class="ingresso-card">
                            <mat-card-header>
                                <div mat-card-avatar class="card_header_avatar"><mat-icon>perm_identity</mat-icon></div>
                                <mat-card-title>Usuário 1</mat-card-title>
                                <mat-card-subtitle>Tipo do Ingresso</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Descrição:  
                                    <input style="float: right; text-align: end;" value="$ Valor" readonly/>
                                </p>
                            </mat-card-content>
                        </mat-card>
                        <br/>
                        <mat-card class="ingresso-card">
                            <mat-card-header>
                                <div mat-card-avatar class="card_header_avatar"><mat-icon>perm_identity</mat-icon></div>
                                <mat-card-title>Usuário 2</mat-card-title>
                                <mat-card-subtitle>Tipo do Ingresso</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Descrição:  
                                    <input style="float: right; text-align: end;" value="$ Valor" readonly/>
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </mat-card-content>
                    <mat-card-actions style="text-align: center;">
                        <button mat-button routerLink="/shop">Comprar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="column">
                <mat-card style="background-color: #4169e14d">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>shopping_cart</mat-icon></div>
                        <mat-card-title>Ingressos</mat-card-title>
                        <mat-card-subtitle>Compre seu Ingresso!</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card class="ingresso-card">
                            <mat-card-header>
                                <div mat-card-avatar class="card_header_avatar"><mat-icon>book_online</mat-icon></div>
                                <mat-card-title>Ingresso 1</mat-card-title>
                                <mat-card-subtitle>Tipo do Ingresso</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Descrição:  
                                    <input style="float: right; text-align: end;" value="$ Valor" readonly/>
                                </p>
                            </mat-card-content>
                        </mat-card>
                        <br/>
                        <mat-card class="ingresso-card">
                            <mat-card-header>
                                <div mat-card-avatar class="card_header_avatar"><mat-icon>book_online</mat-icon></div>
                                <mat-card-title>Ingresso 2</mat-card-title>
                                <mat-card-subtitle>Tipo do Ingresso</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Descrição:  
                                    <input style="float: right; text-align: end;" value="$ Valor" readonly/>
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </mat-card-content>
                    <mat-card-actions style="text-align: center;">
                        <button mat-button routerLink="/shop">Comprar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <br/><br/>
    </section>
    <section id="reviews">
        <mat-card-title title="Reviews" style="text-align:center;">Reviews</mat-card-title>
        <mat-tab-group>
            <mat-tab label="Evento"> 
                <mat-card style="background-color: #4169e14d">
                    <mat-card-title title="review">
                        <mat-icon>person</mat-icon>Usuario X: Festa Sensacional! 
                            <ngb-rating [max]="5" [(rate)]="rating_comment1" [readonly]="true" style="float: right"></ngb-rating>
                        </mat-card-title>
                    <mat-card-content>
                        Comentário ...
                    </mat-card-content>
                </mat-card>
                <mat-card style="background-color: #4169e14d">
                    <mat-card-title title="review">
                        <mat-icon>person</mat-icon>Usuario Y: Boa Organização! 
                            <ngb-rating [max]="5" [(rate)]="rating_comment2" [readonly]="true" style="float: right"></ngb-rating>
                    </mat-card-title>
                    <mat-card-content>
                        Comentário ...
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Produtor">  
                <mat-card style="background-color: #4169e14d">
                    <mat-card-title title="review">
                        <mat-icon>person</mat-icon>Usuario Z: Ótima Produção!
                    <ngb-rating [max]="5" [(rate)]="rating_comment3" [readonly]="true" style="float: right"></ngb-rating>
                    </mat-card-title>
                    <mat-card-content>
                        Comentário ...
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
        <br/><br/>
    </section>
    <section id="relacionados">
        <mat-card-title title="relacionados" style="text-align:center">Relacionados</mat-card-title>
        <div class="row">
            <div class="column_relacionados">
                <mat-card class="eventos_relacionados_card">
                    <mat-card-header>
                        <mat-card-title></mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://magaluteste.blob.core.windows.net/container-myparty/Festa2.jpg" alt="Foto da Festa 1">
                </mat-card>
            </div>
            <div class="column_relacionados">
                <mat-card class="eventos_relacionados_card">
                    <mat-card-header>
                        <mat-card-title></mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://magaluteste.blob.core.windows.net/container-myparty/Festa3.jpg" alt="Foto da Festa 1">
                </mat-card>
            </div>
            <div class="column_relacionados">
                <mat-card class="eventos_relacionados_card">
                    <mat-card-header>
                        <mat-card-title></mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://magaluteste.blob.core.windows.net/container-myparty/Festa7.jpg" alt="Foto da Festa 1">
                </mat-card>
            </div>
            <div class="column_relacionados">
                <mat-card class="eventos_relacionados_card">
                    <mat-card-header>
                        <mat-card-title></mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://magaluteste.blob.core.windows.net/container-myparty/Festa6.jpg" alt="Foto da Festa 1">
                </mat-card>
            </div>
        </div>
        <br/><br/>
    </section>
    </section>
</section>
    

