
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <nav id="menu-h">
        <ul>
            <button style="background-color: #444444; border: #444444; margin-bottom: 1%; margin-top: 1%; align-self: center;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon class="material-icons md-light">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Meu Perfil</span>
                </button>
                    <button mat-menu-item>
                    <mat-icon>book_online</mat-icon>
                    <span>Meus Ingressos</span>
                </button>
                <button mat-menu-item routerLink="/marketplace">
                    <mat-icon>store</mat-icon>
                    <span>Marketplace</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>info</mat-icon>
                    <span>Ajuda</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>call</mat-icon>
                    <span>Contato</span>
                </button>
            </mat-menu>
              
            <li>
                <a href="index.html" style="align-content: center; margin-left: 3%;">
                    <h1 class="logo_title">My Party</h1>
                </a>
            </li>
            <li> </li><li> </li>
            <li>
                <button mat-mini-fab style="left: 67%; bottom: 4px; background-color: slateblue">
                    <mat-icon>chat</mat-icon>
                </button>
                <button mat-mini-fab style="left: 68%; bottom: 4px; background-color: slateblue">
                    <mat-icon>notifications</mat-icon>
                </button>
            </li>
            <button class="button_login" style="margin-bottom: 1%; margin-top: 1%; margin-left: 1%; margin-right: 2%;" routerLink="/login">Login</button>
            <button class="button_signUp" style="margin-bottom: 1%; margin-top: 1%; margin-left: 2%;" routerLink="/signup">Sign Up</button>
        </ul>
    </nav>
</header>
