<body>
    <div class="left-vertical-container">
        <div class="image-profile">
            <img src="https://cdn-icons-png.flaticon.com/512/3033/3033143.png" alt="" id="image-profile">
        </div>
        <div class="user-name">
            <h1 id="user-name"> {{ user.name }} </h1>
        </div>
        <div class="user-about">
            <p id="occupation"> {{ user.profile }} </p>
            <div class="user-about-edit-button">
                <button mat-stroked-button (click)="openDialog()" color="primary" style="border: 1px solid black; color: black;">
                    <mat-icon color="primary" style="color: black;">edit</mat-icon> Editar
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="right-vertical-container">
        <div *ngIf="event.name != ''">
            <h2>Último Evento</h2>
            <mat-accordion>
                <mat-expansion-panel class="lastEvent">
                    <mat-expansion-panel-header>
                        <mat-card-header>
                            <img mat-card-avatar src="{{event.image}}">
                            <mat-panel-title>{{event.name}}</mat-panel-title>
                        </mat-card-header>
                    </mat-expansion-panel-header>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{event.production}}</mat-card-title>
                            <mat-card-subtitle><ngb-rating [max]="5" [(rate)]="event.rating" [readonly]="true"></ngb-rating></mat-card-subtitle>
                        </mat-card-header>
                        <br/>
                        <mat-card-content>
                            {{event.description}}
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <br/>
        <h2>Atalho</h2>
        <button mat-button (click)="openEvents()" class="shorcut-button">
            <mat-icon class="user-data-icon">event</mat-icon>Eventos Favoritos
        </button>
        <button mat-button (click)="openCategories()" class="shorcut-button">
            <mat-icon class="user-data-icon">category</mat-icon>Categorias Favoritas
        </button>
        <button mat-button (click)="openTickets()" class="shorcut-button">
            <mat-icon class="user-data-icon">confirmation_number</mat-icon>Ingressos
        </button>
    </div>
    
</body>
